// ==========================================================================
// # Components: Banner
// ==========================================================================

.banner {
    padding: 4rem 0;

    @include media-query-min(sm) {
        padding: 6rem 0;
    }
    @include media-query-min(lg) {
        padding: 8rem 0;
    }
    &__contact {
        justify-content: space-between;
        align-items: baseline;
        text-align: center;
    }

    &__normal-text {
        font-size: 18px;
        @include media-query-min(sm) {
            font-size: 24px;
        }
        @include media-query-min(lg) {
            font-size: 30px;
        }
        color: white;
        font-weight: 500;
    }

    &__contact-p {
        font-size: 24px;
        @include media-query-min(md) {
            font-size: 32px;
        }
        font-weight: 700;
        color: white;
    }
}
