// ==========================================================================
// # Home: Home Infographics
// ==========================================================================

.home-infographics {
    &__item {
        max-width: 390px;
        margin: 0 auto;
        border-bottom: 1px solid #c5c5c5;
        padding-bottom: 30px;
    }
}
